@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-size: 300% 300%;
  animation: gradient-x 6s ease infinite;
}